<a href="https://colab.research.google.com/github/Hatimloha/Prodigy_InfoTech/blob/main/Task_2_cleaningand_exploratory_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Perform data cleaningand exploratory data analysis(EDA) on a chosen dataset (e.g.,Titanic dataset from Kaggle).This involves exploringrelationships between variablesand identifying key patterns and trends.​​

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Load data using panda
titanic_df = pd.read_csv("/content/train (1).csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Display the first few rows of the dataset
print(titanic_df.head())

In [ ]:
# Check for missing values
print(titanic_df.isnull().sum())

In [ ]:
# Handling missing values
# For example, fill missing values in the 'Age' column with the median
titanic_df['Age'].fillna(titanic_df['Age'].median(), inplace=True)

In [ ]:
# Explore the distribution of numerical features
sns.histplot(titanic_df['Age'], bins=30, kde=True)
plt.title('Distribution of Age')
plt.show()

In [ ]:
# Explore the distribution of categorical features
sns.countplot(x='Sex', data=titanic_df)
plt.title('Distribution of Gender')
plt.show()

In [ ]:
# Explore the relationship between variables
sns.scatterplot(x='Age', y='Fare', data=titanic_df, hue='Survived', palette='Set1')
plt.title('Scatterplot of Age and Fare by Survival')
plt.show()

In [ ]:
# Explore survival rates across different categories
sns.barplot(x='Pclass', y='Survived', data=titanic_df, hue='Sex', palette='viridis')
plt.title('Survival Rates by Passenger Class and Gender')
plt.show()

In [ ]:
"""
This code performs the following steps:
1. Selects all the numeric columns from the Titanic dataset.
2. Computes the correlation matrix for the numeric columns to identify relationships.
3. Uses Seaborn to create a heatmap visualization of the correlation matrix with the 'coolwarm' color palette.
4. Displays annotations on the heatmap to show the correlation values.
5. Sets the title of the heatmap as 'Correlation Matrix'.
6. Finally, it displays the heatmap using plt.show().
"""

numeric_df = titanic_df.select_dtypes(include=['number'])
correlation_matrix = numeric_df.corr()
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
plt.title('Correlation Matrix')
plt.show()